wwwroot/*.js
node_modules
typings
dist
coverage
/.idea

# Test directory exception in all sdks
/sdks/*
!/sdks/*
/sdks/*/*
!/sdks/*/__tests__

# Typescript specific exceptions
!/sdks/lob-typescript-sdk/.openapi-generator-ignore
!/sdks/lob-typescript-sdk/jest.config.js
!/sdks/lob-typescript-sdk/jest.integrationConfig.js
!/sdks/lob-typescript-sdk/package.json
!/sdks/lob-typescript-sdk/tsconfig.json
!/sdks/lob-typescript-sdk/.npmignore

!/sdks/lob-typescript-sdk/build/__tests__

LOCAL.env