name: Run Tests

on:
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - main
  push:

jobs:
  node_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["16", "17", "18", "20", "21"]
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install Dependencies
        run: npm install

      - name: Am I Pretty
        run: npm run pretty:check

      - name: Run Unit Tests with coverage
        run: npm run test

      - name: Run Integration Tests
        env:
          LOB_API_TEST_KEY: ${{ secrets.LOB_API_TEST_KEY }}
          LOB_API_LIVE_KEY: ${{ secrets.LOB_API_LIVE_KEY }}
        run: npm run test:integration

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info
